:root {
  --light-lazur: #a5edf0;
}

.button-reset {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-reset:hover {
  background-color: var(--light-lazur);
}